header {
  text-align: center;
  background-color: bisque;
  display: flex;
  justify-content: center;
  height: 55px;
  align-items: center;
  
}
.img{
  height: 42px;
  width: 42px;
  margin-right: 7px;
}
.journal-entry{
  display: flex;
}
.image-img1{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-left: '12px';
  
}
.image-img-container{
  height: 50px;
  width: 40px;
  overflow: hidden;
  border-radius: 8px;
  flex-shrink: 0;
  margin-bottom: 50px;
  
}
.image-img{
  width: 200px;
  height: 250px;
  border-radius: 8px;
}
.k-img{
  margin-left: 12px;
}
.k-img2{
  margin-left: 12px;
}
.k-img3{
  margin-left: 12px;
}
.k-img1{
  margin-left: 5px;
}
.k-img0{
  margin-left: 12px;
}
.img-1{
  width: 100px;
  height: 100px;
}